@config "../../tailwind.admin.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------------------------------------------------- admin ---------------------------------------------------------------------*/

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #4e657a;
    overflow-x: hidden;
    margin: 0;
    height: 500px;
}

*,
::after,
::before {
    box-sizing: border-box
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8ab5d6;
}

::-webkit-scrollbar-track {
    background: #394f62;
}

::-webkit-scrollbar-thumb {
    background: #6d8da6;
}

.leading-inherit {
    line-height: inherit;
}

@layer base {

    a {
        @apply transition-all duration-300 ease-in-out text-[#007bff] no-underline bg-transparent hover:no-underline hover:text-[#0056b3]
    }

    a:hover {
        @apply text-[#0056b3];
        text-decoration: underline
    }

    b,
    strong {
        font-weight: bolder
    }

    .container {
        @apply w-full px-[15px] mx-auto;
    }

    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section {
        @apply block
    }

    .h1, h1 {
        @apply text-[2.5rem]
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        @apply mb-2 font-medium leading-tight text-inherit
    }

    h1, h2, h3, h4, h5, h6 {
        @apply mt-0 mb-2
    }

    dl, ol, ul {
        @apply mt-0 mb-[1rem]
    }

    button {
        border-radius: 0
    }

    button,input,optgroup,select,textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit
    }

    button,input {
        overflow: visible
    }

    button,select {
        text-transform: none
    }

    [type=reset], [type=submit], button, html [type=button] {
        -webkit-appearance: button
    }

    .dropdown,
    .dropleft,
    .dropright,
    .dropup {
        position: relative
    }

    .collapse:not(.show) {
        @apply hidden;
    }

    .navbar {
        @apply relative flex flex-wrap items-center justify-between p-2;
    }

    .navbar>.container,
    .navbar>.container-fluid {
        @apply flex flex-wrap items-center justify-between
    }

    .nav-link {
        @apply block py-[5rem] px-[1rem]
    }

    .nav-link {
        @apply flex py-[.5rem] px-[1rem] h-[100%] flex-col items-center justify-center text-white
    }

    .nav-link:focus, .nav-link:hover {
        text-decoration: none
    }

    .navbar-toggler {
        @apply px-3 py-1 text-[1.25rem] leading-[1] bg-transparent border border-transparent rounded-md;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
        text-decoration: none
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer
    }

    .mb-0,
    .my-0 {
        margin-bottom: 0 !important
    }

    .d-block {
        display: block !important
    }

    .container {
        @apply w-full px-[15px] mx-auto
    }

    .navbar-nav {
        @apply flex flex-col pl-0 mb-0;
        list-style: none;
    }

    .navbar-nav .nav-link {
        @apply pr-0 pl-0;
    }

    .h-100 {
        @apply h-[100%] !important
    }

    .navbar-brand {
        @apply inline-block pt-[0.3125rem] pb-[0.3125rem] mr-4 text-xl leading-inherit whitespace-nowrap
    }

    .navbar {
        @apply focus:no-underline hover:no-underline
    }

    .nav-item {
        text-align: center;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .sr-only {
        @apply absolute w-[1px] h-[1px] p-0 overflow-hidden whitespace-nowrap border-0;
        clip: rect(0, 0, 0, 0);
    }

    .dropdown-menu {
        @apply absolute top-full left-0 z-[1000] hidden float-left min-w-[10rem] p-2 mt-[0.125rem] text-base text-[#212529] text-left list-none bg-white bg-clip-padding border border-black/15 rounded
    }

    .dropdown-menu.show {
        display: block
    }

    .dropdown-item {
        @apply block w-full px-6 py-1 text-[inherit] font-normal text-[#212529] whitespace-nowrap bg-transparent border-0
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none
    }

    .ml-auto,
    .mx-auto {
        margin-left: auto !important
    }

    .mr-auto,
    .mx-auto {
        margin-right: auto !important
    }

    @media (min-width: 0px) {
        .container {
            max-width: none;
        }
    }

    @media (min-width: 576px) {
        .container {
            @apply max-w-[540px]
        }
    }

    @media (min-width: 768px) {
        .container {
            @apply max-w-[720px];
        }
    }

    @media (min-width: 992px) {
        .container {
            @apply max-w-[960px];
        }
    }

    @media (min-width: 1200px) {
        .navbar-expand-xl {
            @apply flex flex-row flex-nowrap justify-start;
        }

        .navbar-expand-xl .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row
        }

        .navbar-expand-xl .navbar-nav .dropdown-menu {
            position: absolute
        }

        .navbar-expand-xl>.container,
        .navbar-expand-xl>.container-fluid {
            @apply flex-nowrap;
        }

        .navbar-expand-xl .navbar-collapse {
            @apply !flex;
            flex-basis: auto;
        }

        .navbar-expand-xl .navbar-toggler {
            display: none
        }

        .navbar-expand-xl .navbar-nav .nav-link {
            @apply pl-[.5rem] pr-[.5rem]
        }

        .container {
            @apply max-w-[1140px];
        }
    }

    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center
    }

    .navbar-nav .active>.nav-link,
    .navbar-nav .nav-link.active {
        background-color: #f5a623;
        color: #fff;
    }

    .navbar-nav a:hover,
    .navbar-nav a:hover i {
        color: #f5a623;
    }

    .navbar-nav a:hover,
    .navbar-nav a:hover i {
        color: #f5a623;
    }
}

@layer utilities {}
