@config "../../tailwind.admin.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------------------------------------------------- admin ---------------------------------------------------------------------*/

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #4e657a;
    overflow-x: hidden;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

*,
::after,
::before {
    box-sizing: border-box
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* ::-webkit-scrollbar-thumb:hover {
    background: #8ab5d6;
} */

::-webkit-scrollbar-track {
    background: #394f62;
}

::-webkit-scrollbar-thumb {
    background: #6d8da6;
}

.leading-inherit {
    line-height: inherit;
}

@layer base {

    button,
    input {
        overflow: visible
    }

    p {
        @apply mt-0 mb-[1rem]
    }

    a {
        @apply transition-all duration-300 ease-in-out text-[#007bff] no-underline bg-transparent hover:no-underline hover:text-[#0056b3]
    }

    a:hover {
        @apply text-[#0056b3];
        text-decoration: underline
    }

    b,
    strong {
        font-weight: bolder
    }

    .container {
        @apply w-full px-[15px] mx-auto;
    }

    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section {
        @apply block
    }

    .h1, h1 {
        @apply text-[2.5rem]
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        @apply mb-2 font-medium leading-tight text-inherit
    }

    h1, h2, h3, h4, h5, h6 {
        @apply mt-0 mb-2
    }

    dl, ol, ul {
        @apply mt-0 mb-[1rem]
    }

    .col-12 {
        @apply flex-none basis-full max-w-full;
    }

    b,
    strong {
        font-weight: bolder
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit
    }

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        @apply relative w-full min-h-[1px] px-[15px];
    }

    button {
        border-radius: 0
    }

    .mb-0,
    .my-0 {
        margin-bottom: 0 !important
    }

    .pr-4,
    .px-4 {
        padding-right: 1.5rem !important
    }

    .pl-4,
    .px-4 {
        padding-left: 1.5rem !important
    }

    .text-center {
        text-align: center !important
    }

    .text-white {
        color: #fff !important
    }

    .small,
    small {
        font-size: 80%;
        font-weight: 400
    }

    .form-element-reset {
        @apply m-0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    button,
    input {
        overflow: visible
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit
    }

    button,
    input {
        overflow: visible
    }

    button,
    select {
        text-transform: none
    }

    [type=reset],
    [type=submit],
    button,
    html [type=button] {
        -webkit-appearance: button
    }

    [type=reset],
    [type=submit],
    button,
    html [type=button] {
        -webkit-appearance: button
    }

    textarea.form-control {
        height: auto
    }

    label {
        @apply inline-block mb-[.5rem]
    }

    .btn {
        @apply inline-block font-normal text-center whitespace-nowrap align-middle select-none border border-transparent py-1.5 px-3 text-base leading-normal rounded transition duration-150 ease-in-out;
    }

    .btn-primary {
        @apply text-white bg-[#007bff] border-[#007bff];
    }

    .btn-block {
        display: block;
        width: 100%
    }

    .text-uppercase {
        text-transform: uppercase !important
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer
    }

    .dropdown,
    .dropleft,
    .dropright,
    .dropup {
        position: relative
    }

    .collapse:not(.show) {
        @apply hidden;
    }

    .navbar {
        @apply relative flex flex-wrap items-center justify-between p-2;
    }

    .navbar>.container,
    .navbar>.container-fluid {
        @apply flex flex-wrap items-center justify-between
    }

    .nav-link {
        @apply block py-[5rem] px-[1rem]
    }

    .nav-link {
        @apply flex py-[.5rem] px-[1rem] h-[100%] flex-col items-center justify-center text-white
    }

    .nav-link:focus, .nav-link:hover {
        text-decoration: none
    }

    .navbar-toggler {
        @apply px-3 py-1 text-[1.25rem] leading-[1] bg-transparent border border-transparent rounded-md;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
        text-decoration: none
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer
    }

    .mb-0,
    .my-0 {
        margin-bottom: 0 !important
    }

    .d-block {
        display: block !important
    }

    .container {
        @apply w-full px-[15px] mx-auto
    }

    .navbar-nav {
        @apply flex flex-col pl-0 mb-0;
        list-style: none;
    }

    .navbar-nav .nav-link {
        @apply pr-0 pl-0;
    }

    .h-100 {
        @apply h-[100%] !important
    }

    .navbar-brand {
        @apply inline-block pt-[0.3125rem] pb-[0.3125rem] mr-4 text-xl leading-inherit whitespace-nowrap
    }

    .navbar {
        @apply focus:no-underline hover:no-underline
    }

    .nav-item {
        text-align: center;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .sr-only {
        @apply absolute w-[1px] h-[1px] p-0 overflow-hidden whitespace-nowrap border-0;
        clip: rect(0, 0, 0, 0);
    }

    .dropdown-menu {
        @apply absolute top-full left-0 z-[1000] hidden float-left min-w-[10rem] p-2 mt-[0.125rem] text-base text-[#212529] text-left list-none bg-white bg-clip-padding border border-black/15 rounded
    }

    .dropdown-menu.show {
        display: block
    }

    .dropdown-item {
        @apply block w-full px-6 py-1 text-[inherit] font-normal text-[#212529] whitespace-nowrap bg-transparent border-0
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none
    }

    .ml-auto,
    .mx-auto {
        margin-left: auto !important
    }

    .mr-auto,
    .mx-auto {
        margin-right: auto !important
    }

    .mt-2,
    .my-2 {
        margin-top: .5rem !important
    }

    .mt-3,
    .my-3 {
        margin-top: 1rem !important
    }

    .mt-4,
    .my-4 {
        margin-top: 1.5rem !important
    }

    .mb-4,
    .my-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-auto,.mx-auto {
        margin-left: auto!important
    }

    .mr-auto,.mx-auto {
        margin-right: auto!important
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height .35s ease
    }

    .row {
        @apply flex flex-wrap -mx-4;
    }

    .font-weight-light {
        @apply font-light
    }

    .form-control:focus {
        @apply text-[#495057] bg-[#fff] border-[#80bdff] outline-0 shadow-md
    }

    .form-control {
        @apply block w-full h-[calc(2.25rem+2px)] py-1.5 px-3 text-base leading-normal text-[#495057] bg-white bg-clip-padding border border-[#ced4da] rounded transition-all duration-150 ease-in-out;
    }

    .tm-content-row {
        @apply justify-between -mx-[20px];
    }

    .tm-block-col {
        margin-bottom: 30px;
    }

    .table {
        @apply w-full mb-4 bg-transparent;
    }

    .table {
        @apply border-collapse;
    }

    .table thead th {
        @apply align-bottom border-b-2 border-[#dee2e6];
    }

    .table td,
    .table th {
        @apply p-3 align-top border-t border-[#dee2e6];
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit
    }

    button,
    input {
        overflow: visible
    }

    input[type='checkbox'],
    input[type='radio'] {
        @apply box-border p-0;
    }

    .checkbox-checked:checked {
        @apply bg-[#394e64] bg-center bg-no-repeat; /* Tailwind utilities */
        background-image: url(/resources/images/check-mark.png); /* Custom background image */
    }

    @media (min-width: 0px) {
        .container {
            max-width: none;
        }
    }

    @media (min-width: 576px) {
        .container {
            @apply max-w-[540px]
        }

        .col-sm-12 {
            @apply flex-none basis-full max-w-full;
        }
    }

    @media (min-width: 768px) {
        .container {
            @apply max-w-[720px];
        }

        .col-md-12 {
            @apply flex-none basis-full max-w-full;
        }
    }

    @media (min-width: 992px) {
        .container {
            @apply max-w-[960px];
        }

        .col-lg-12 {
            @apply flex-none basis-full max-w-full;
        }

        .col-lg-10 {
            @apply flex-[0_0_83.333333%] max-w-[83.333333%]
        }

        .col-lg-6 {
            @apply flex-[0_0_50%] max-w-[50%]
        }
    }

    @media (min-width: 1200px) {
        .container {
            @apply max-w-[1140px];
        }

        .col-xl-12 {
            @apply flex-none basis-full max-w-full;
        }

        .col-xl-9 {
            @apply flex-[0_0_75%] max-w-[75%];
        }

        .col-xl-6 {
            @apply flex-[0_0_50%] max-w-[50%];
        }

        .navbar-expand-xl {
            @apply flex flex-row flex-nowrap justify-start;
        }

        .navbar-expand-xl .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row
        }

        .navbar-expand-xl .navbar-nav .dropdown-menu {
            position: absolute
        }

        .navbar-expand-xl>.container,
        .navbar-expand-xl>.container-fluid {
            @apply flex-nowrap;
        }

        .navbar-expand-xl .navbar-collapse {
            @apply !flex;
            flex-basis: auto;
        }

        .navbar-expand-xl .navbar-toggler {
            display: none
        }

        .navbar-expand-xl .navbar-nav .nav-link {
            @apply pl-[.5rem] pr-[.5rem]
        }

        .container {
            @apply max-w-[1140px];
        }
    }

    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center
    }

    /* .navbar-collapse {
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease-in-out;
    } */

    .navbar-nav .active>.nav-link,
    .navbar-nav .nav-link.active {
        background-color: #f5a623;
        color: #fff;
    }

    .navbar-nav a:hover,
    .navbar-nav a:hover i {
        color: #f5a623;
    }

    .navbar-nav a:hover,
    .navbar-nav a:hover i {
        color: #f5a623;
    }
}

@layer utilities {}
